body {
  font-family: "Karla", sans-serif; }

h1 {
  font-weight: 700; 
}

h2 {
  font-weight: 400;
}

h2.labTitle{
  font-weight: 400;
  margin:0px;
}

div.Grey{
  color: #FFFFFF;
  background: #BBBBBB;
  float: left;
  margin: 1px;
  padding: 4px;
  font-family: monospace;
  font-size: 180%;
  font-weight: 800;
}

div.White{
  color: #000000;
  /*background: #FFFFFF;*/
  float: left;
  margin: 1px;
  padding-left: 4px;
  padding-right: 4px;
}

div.Windows{
  color: #FFFFFF;
  background: #0033FF;
  float: left;
  margin: 1px;
  padding: 4px;
  font-family: monospace;
  font-size: 180%;
  font-weight: 800;
}

div.Windows8{
  color: #FFFFFF;
  background: #6699FF;
  float: left;
  margin: 1px;
  padding: 4px;
  font-family: monospace;
  font-size: 180%;
  font-weight: 800;
}

div.Linux{
  color: #FFFFFF;
  background: #009900;
  float: left;
  margin: 1px;
  padding: 4px;
  font-family: monospace;
  font-size: 180%;
  font-weight: 800;
}

div.Other{
  background: #F75D59;
  float: left;
  margin: 1px;
  padding: 4px;
  font-family: monospace;
  font-size: 180%;
  font-weight: 800;
}

div.Camera{
  background: #F0E68C;
  float: left;
  margin: 1px;
  padding: 4px;
  font-family: monospace;
  font-size: 180%;
  font-weight: 800;
}

a:link {
  color: #0000FF;
  text-decoration:none; }

a:visited {
  color: #0000FF;
  text-decoration: none; }

a:hover {
  color: #FFFFFF;
  text-decoration: underline;
  background-color: #000088; }

a:active {
  color: #FF0000;
  text-decoration: underline;
  background-color: #880088; }
